[submodule "rtl/tg68k"]
	path = rtl/tg68k
	url = https://github.com/TobiFlex/TG68K.C.git
[submodule "EightThirtyTwo"]
	path = EightThirtyTwo
	url = https://github.com/m1nl/EightThirtyTwo
[submodule "rtl/fpga-toccata"]
	path = rtl/fpga-toccata
	url = https://github.com/ranzbak/fpga-toccata
[submodule "rtl/usb_hid_host"]
	path = rtl/usb_hid_host
	url = https://github.com/m1nl/usb_hid_host.git
